[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.9.0b0"
openai = "*"
langchain = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
